
<div class="non-enrolled-user-dashboard">
		
	<%= render 'class_topics/index_by_category', locals: {topics: @topics_index} %>

	<div class="welcome-user-dashboard">

		<div class="welcome-user-dashboard-inner">

			<h3>Welcome to PopupSchools!</h3>
			<p>Ready to learn from experts in <% if @city %><%= @city.name %><% else %>your city<% end %>? Start by choosing a subject above or one of our upcoming courses below.</p>
		</div>


	</div>

</div>