<div class="home-panel" id="main">

	<div class="main-cta-container">

		<h1>Pages#home</h1>
		<p>Find me in app/views/pages/home.html.erb</p>


	</div>

	

</div>

<div class="home-panel" id="learn">

	<div class="home-two-panel-container">

		<div class="home-two-panel-content" id="panel-2-left">

			<h1>First Panel, left</h1>
			<p>Find me in app/views/pages/home.html.erb</p>


		</div>

		<div class="home-two-panel-content" id="panel-2-right">

			<h1>Second Panel, right</h1>
			<p>Find me in app/views/pages/home.html.erb</p>


		</div>


	</div>

	<h1>Learn here</h1>
	<p>Find me in app/views/pages/home.html.erb</p>

</div>

