<div class="home-panel" id="main">

	<div class="home-panel-transparency" id="main">
		
		<div class="main-cta-container">

			<h2>Learn Something New</h2>
			<h3>From Experts</h3>
			<h3>In-Person</h3>

			<div class="signup-cta-container">

				<a class="signup-main-cta" id="student">Enroll in Classes Now</a>

				<br>

				<a class="signup-main-cta" id="teacher">Teachers, Start Here</a>

			</div>

		</div>

	</div>

	

</div>

<div class="home-panel" id="learn">

	<div class="home-two-panel-container">

		<div class="home-two-panel-content" id="panel-2-left">

			<h1>First Panel, left</h1>
			<p>Find me in app/views/pages/home.html.erb</p>


		</div>

		<div class="home-two-panel-content" id="panel-2-right">

			<h1>Second Panel, right</h1>
			<p>Find me in app/views/pages/home.html.erb</p>


		</div>


	</div>

</div>

