<% unless user_signed_in? %>

	<div class="home-panel" id="main">

		<div class="home-panel-transparency" id="main">
			
			<div class="main-cta-container">

				<h2>Learn Something New</h2>
				<h3>From Experts</h3>
				<h3>In-Person</h3>

				<div class="signup-cta-container">

					<a href="<%= new_user_registration_path %>"class="signup-main-cta" id="student">Enroll in Classes Now</a>

					<br>

					<a class="signup-main-cta" id="teacher">Teachers, Start Here</a>

				</div>

			</div>

		</div>
		
	</div>

	<div class="home-panel" id="learn">

		<div class="home-two-panel-container">

			<div class="home-two-panel-content" id="panel-2-left">

				<h1>First Panel, left</h1>
				<p>Find me in app/views/pages/home.html.erb</p>


			</div>

			<div class="home-two-panel-content" id="panel-2-right">

				<h1>Second Panel, right</h1>
				<p>Find me in app/views/pages/home.html.erb</p>


			</div>


		</div>

	</div>


<%else%>


	<%unless @user.set_default_location%>

		<%= render 'pages/users/user_location_form', locals: {locations: @locations} %>

	<%end%>


	<% if @user.has_enrolled_in_a_class %>

		<%= render 'pages/users/user_profile_header'%>

	<%else%>
	
		<div class="non-enrolled-user-dashboard">
				
			<%= render 'class_topics/index_by_category', locals: {topics: @topics_index} %>

			<div class="welcome-user-dashboard">

				<div class="welcome-user-dashboard-inner">

					<h3>Welcome to PopupSchools!</h3>
					<p>Ready to learn from experts in your city? Start by choosing a subject from one of our upcoming classes below</p>
				</div>


			</div>

		</div>

		<div class="dashboard-upcoming-classes">

			<div class="dashboard-upcoming-classes-inner">

				<div class="dashboard-panel-horizontal-container">
					
					<h3>Upcoming Classes @ [location name placeholder]</h3>

					<ul class="dashboard-panel-horizontal-list">

						<li class="dashboard-panel-horizontal-item">Entry 1</li>
						<li class="dashboard-panel-horizontal-item">Entry 2</li>
						<li class="dashboard-panel-horizontal-item">Entry 3</li>
						<li class="dashboard-panel-horizontal-item">Entry 4</li>

					</ul>

				</div>

				<div class="dashboard-panel-horizontal-container">

					<h3>Top Instructors @ [location name placeholder]</h3>

					<ul class="dashboard-panel-horizontal-list">

						<li class="dashboard-panel-horizontal-item">Entry 5</li>
						<li class="dashboard-panel-horizontal-item">Entry 6</li>
						<li class="dashboard-panel-horizontal-item">Entry 7</li>
						<li class="dashboard-panel-horizontal-item">Entry 8</li>

					</ul>

				</div>

			</div>

		</div>
	
	<%end%>


	


<%end%>


