<div class="profile-sidebar">

	<ul>

		<li id="basics"><a>Basics</a></li>
		<li id="roles"><a>Roles</a></li>
		<li id="payments"><a>Payments</a></li>
		<li id="cancel"><a>Cancel Account</a></li>

	</ul>

</div>


