<div class ="course-session-container">

  <div class="course-session-numbers">

    <p class="session-number-label">Session # <%= @i %> </p>

    <p class="dismiss-course-session">Remove</p>

    <%= f.hidden_field :_destroy, class: "destroyer" %>

  </div>

  <div class="course-session-details">

    <%= f.text_field :title, placeholder: "Session Title", class: "course-session-title-input", autofocus: true %>
    <%= f.text_area :description, placeholder: "Enter Session Description Here", class: "course-session-description-input" %>

  </div>
  
  <%# f.label :_destroy, "Remove Sessions" %>

</div>