<div class ="course-session-container">
  
  <a class="dismiss-course-session-container">
    +
  </a>

  <div class="course-session-numbers">

    <p>Session #1</p>

  </div>

  <div class="course-session-details">

    <%= f.text_field :title, placeholder: "Session Title", class: "course-session-title-input", autofocus: true %>
    <%= f.text_area :description, placeholder: "Enter Session Description Here", class: "course-session-description-input" %>

  </div>
  <%# f.check_box :_destroy %>
  <%# f.label :_destroy, "Remove Sessions" %>

</div>