<div class ="course-session-container">
  
  <a class="dismiss-course-session-container">
    +
  </a>

  <%= f.text_field :title, placeholder: "Title", class: "course-session-title-input" %><br />
  <%= f.text_area :description, placeholder: "Description", class: "course-session-description-input" %><br />
  <%# f.check_box :_destroy %>
  <%# f.label :_destroy, "Remove Sessions" %>

</div>