<div class = "course-name-modal">

  <div class ="course-name-modal-content">

    <h3>New Course
      <span class="dismiss-modal">
        +
      </span>
    </h3>

    <input class="modal-text-input" id="title" type="text" autofocus placeholder="Course Name"></input>

    <textarea class="modal-text-input" id="description" rows="2" type="text" placeholder="Add Description of Your Course Here"></textarea>

    <p class="modal-submit" id="courses">Continue</p>


  </div>

</div>