<div class = "course-name-modal">

  <div class ="course-name-modal-content">

    <h3>New Course
      <span class="dismiss-modal">
        +
      </span>
    </h3>

    <input class="modal-text-input" id="title" type="text" autofocus placeholder="Course Name"></input>

    <p class="modal-submit">Create</p>


  </div>

</div>