// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.course-name-modal{
	position: absolute;
	left:0;
	right:0;
	top:0px;
	bottom:0px;
	height:100%;
	width:100%;
    background: rgba(49,68,83,0.85);
    display:none;
	
}

.course-name-modal-content{

	max-width:500px;
	width:100%;
	margin:0 auto;
	z-index: 100;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,0.7);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	top:150px;
	position:relative;
	text-align: center;
	text-indent:5px;

	h3{
		line-height: 40px;
		margin-bottom: 20px;
	    font-size: 28px;
    	font-weight: 500;
	    padding: 10px 15px;
	    border-radius: 6px 6px 0px 0px;
	    border-bottom: 1px solid #3232ff;
	    color: #fff;
	    text-shadow: 0px 2px 0px rgba(50,50,255,1);
	    box-shadow: 0px 0px 1px #3232ff;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50,50,255,.5)), to(rgba(50,50,255,.8)));
	    background-image: -webkit-linear-gradient(top, rgba(50,50,255,.5), rgba(50,50,255,.8));
	    background-image: -moz-linear-gradient(top, rgba(50,50,255,.5), rgba(50,50,255,.8));
	    background-image: -ms-linear-gradient(top, rgba(50,50,255,.5), rgba(50,50,255,.8));
	    background-image: -o-linear-gradient(top, rgba(50,50,255,.5), rgba(50,50,255,.8));
	    background-image: linear-gradient(top, rgba(50,50,255,.5), rgba(50,50,255,.8));

	    webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;

	}

	span.dismiss-modal{
	    border: 0;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    position: absolute;
	    right: 5px;
    	top: -35px;
	    font-size:30px;
	    font-weight:500;
	    margin-top:30px;
	    color: #fff;
	    text-shadow: 1px 1px 2px #3232ff;
	    line-height: 40px;
	}

	span.dismiss-modal:hover{
	    cursor:pointer;
	    text-decoration:none;
	    color:red;
	    webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;

	}
}

.modal-text-input{
	width:auto;
	color:#666;
	margin:0px auto 20px auto;
    border-radius:2px;
    border:1px solid rgba(0,0,0,.3);
    text-indent:5px;
    background-color: #f1f1f1;
    padding:5px 0px;
    width: 400px;

}

.modal-text-input#title{
	font-size:30px;
    
}

.modal-text-input#description{
	font-size:16px;
    background: rgba(0, 0, 255, 0.15);
    color: #666;
    font-style: italic;
    resize: none;
    
}

.modal-text-input:focus{
    border:1px solid rgba(255,0,0,.5);
    
}


p.modal-submit{
	width:	50%;
	padding:10px 20px;
	background:red;
	color: #fff;
	border-radius: 3px;
	margin: 0px auto 20px;
	opacity: .85;
	text-shadow: 0px 2px 1px #AD0000;
	font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: inset 0px 1px 3px 0px #fff;
}

p.modal-submit:hover{
	cursor:pointer;
}


div.course-form-container::before{
  content: "";
  background-image: image-url("paper.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

    .course-form-transparency{
    	position: absolute;
	    top: 0px;
	    margin: 140px auto;
	    height: 100%;
	    max-width: 800px;
	    width: 100%;
	    padding: 50px;
	    background: rgba(255, 0, 255, 0.5);
    }

div.course-form-container{
	margin: 0 auto;
    max-width: 800px;
    border-radius: 5px;
    width: auto;
    padding: 50px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 220, 0.7);

	.center-submit{
		text-align:center;
		margin: 0 auto;
		max-width: 500px;
		width:auto;
		padding: 20px;

	}

	.course-form-content{
		width:auto;
		max-width:500px;
		padding: 10px;
		margin: 0 auto;
		text-align: center;

		.course-form-sessions{
			
			margin-top:40px;

			h3{
				display:block;
				padding-bottom: 20px;
	    		font-size: 24px;
	    		color: #666;
	    		font-weight: 400;
	    		border-bottom: 2px solid #ccc;
	    		margin-bottom: 30px;
			}

		}

		.course-form-sessions.empty{
		
			border: 3px dashed rgba(255, 0, 0, 0.6);
	    	padding: 60px 0px;
	    	background-color: rgba(255, 255, 100, 0.4);
	    	text-align: center;
	    	box-shadow: 0px 2px 5px #ddd;
	    	border-radius: 3px;
	    	margin-bottom: 20px;

	    	h3{
	    		display:none;
	    	}
		
		}

		.course-submit-for-approval{
			width:100%;
		    padding: 10px 0px;
		    text-align: center;
		    margin: 0 auto;
		    font-size: 24px;
		    background: red;
		    opacity: .85;
		    color: white;
		    border-bottom: 1px solid #246BCC;
		    box-shadow: inset 0px 1px 1px 0px #bbb;
		    border: 1px solid rgba(0, 0, 0, 0.15);
		    text-shadow: 0px 1px 0px #16437F;
		    font-weight: 500;
		 
		}

		.course-submit-for-approval:hover{
			cursor:pointer;

		}

		.course-form-submit{
			text-align:center;
			border-top: 2px solid #ccc;
    		padding-top: 40px;
    		margin-top:30px;
			
		}

		.course-form-submit.empty{
			display:none;
		
		}








	}

	.course-form-menu{
		display:inline-block;
		width:480px;
		vertical-align: top;
		padding-right: 20px;

		.course-form-menu-content{
			width:auto;
			border-radius: 0px 0px 5px 5px;

			.course-form-header{

				h3{
					border-bottom: 1px solid #ddd;
	    			color: #555;
	    			padding: 15px 20px;
	    			font-size: 24px;
				}

				.course-submit-for-approval{
					width:100%;
				    padding: 10px 0px;
				    text-align: center;
				    margin: 0 auto;
				    font-size: 24px;
				    background: red;
				    opacity: .85;
				    border-radius: 0px 0px 5px 5px;
				    color: white;
				    border-bottom: 1px solid #246BCC;
				    box-shadow: inset 0px 1px 1px 0px #bbb;
				    border: 1px solid rgba(0, 0, 0, 0.15);
				    text-shadow: 0px 1px 0px #16437F;
				    font-weight: 500;
				    display:none;
				}

				.course-submit-for-approval:hover{
					cursor:pointer;

				}

				.course-submit-for-approval.disabled{
				    background: #ddd;
				    opacity: .85;
				    color: #666;
				    border-bottom: 1px solid #246BCC;
				    box-shadow: none;
				    border: 1px solid rgba(0, 0, 0, 0.15);
				    text-shadow: none;
				}

			}

			ul{

				list-style-type: none;
	    		margin: 0;
	    		padding: 0;


				li{

					display: inline-block !important;
	    			width: 100% !important;
	    			word-wrap: break-word !important;
	    			text-align: justify;
	    			padding:10px 0px;

	    			a{
	    				padding:0px 20px;
	    				color: #333;
	    				font-size: 20px;
	    			}

				}

				li:hover{

					background:rgba(44,255,37,0.4);
					cursor:pointer;

				}
			}

		}

	}
	.course-form-session-container{
		
		display: inline-block;
    	width: 449px;
    	padding: 0px 20px 20px 20px;
    	border-radius: 3px;
    	background-color: none;

		h3{
			font-size:30px;
			line-height: 20px;
			font-weight: 400;
			text-align:center;
			color: #333;
			margin-bottom: 20px;
		}


	}

	.course-form-session-container.empty{

		background-color: none;
		border:none;
		padding:0px;
		padding-left:20px;
		border-left: 2px solid #ccc;



	}



}

input.course-title-header{
	width: 100%;
    border: none;
    margin: 0px;
    font-size: 70px;
    line-height: 90px;
    text-shadow: 0px 3px 1px #ccc;
    padding: 10px 0px;
    background: rgba(0,0,0,0);
    color: rgba(36, 107, 204, 0.8);
    vertical-align: top;
	border-top: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,0);
    text-align:center;


}


textarea.course-description-header{
	width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    background: rgba(0, 0, 255, 0.15);
    margin: 0px;
    font-size: 16px;
    color: #666;
    font-style: italic;
    padding: 5px 0px;
    resize: none;
    text-indent: 10px;
    vertical-align: top;
    border-top: 1px solid #ccc;
}

textarea.course-description-header:focus{
	border: 1px solid rgba(255, 0, 0, 0.4);
}

.add_fields{
	width:50%;
	padding:10px 40px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;

    background-color: rgba(36,107,204,0.8);
    border-radius: 5px;
    line-height: 45px;
    color: white;
    border-bottom: 1px solid #246BCC;
    box-shadow: inset 0px 1px 1px 0px #bbb;
    border: 1px solid rgba(0,0,0,0.15);
    text-shadow: 0px 1px 0px #16437F;
    font-weight: 500;
    text-decoration:none;
}

p.add_fields#courses:hover{
	cursor:pointer;
	background-color: #fff;
	color: rgba(36,107,204,0.8);
	border-color: rgba(36,107,204,0.8);
	text-shadow: 0px 0px 1px #ccc;
	box-shadow: none;

}

div.course-session-container{
	width: 100%;
    max-width: 960px;
    margin: 0 auto 30px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    float: left;
    border: 1px solid #aaa;
}

input.course-session-title-input{
	width: 100%;
    font-size: 30px;
    color: #666;
    text-indent: 10px;
    padding: 14px 0px;
    border: none;
    vertical-align: top;
    float: left;
}

input.course-session-title-input:focus{
	background: rgba(255, 100, 100, 0.1);
}

textarea.course-session-description-input{
	width: 100%;
    font-size: 16px;
    color: #999;
    font-style: italic;
    text-indent: 10px;
    padding: 10px 0px;
    border: none;
    vertical-align: top;
    resize: none;
    float: left;
    background: rgba(200,200,200,.2);
}

textarea.course-session-description-input:focus{
	background: rgba(255, 100, 100, 0.1);
}

a.dismiss-course-session-container{
    border: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    float: right;
    right: 125px;
    font-size: 40px;
    font-weight: 500;
    color:#666;
    text-shadow: 0px 2px 1px #ccc;
}

a.dismiss-course-session-container:hover{
    cursor:pointer;
    text-decoration:none;
    color:red;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

.course-session-numbers{
	display:inline-block;
	width:30%;
	float:left;	
	vertical-align: top;
	height: 120px;
	background-image: image-url("swirl_pattern.png");
    text-align: center;
    color: #333;
    font-size: 24px;
    
    p.session-number-label{
    	background: rgba(100,255,100,0.8);
    	line-height: 30px;
    	padding: 30px 0px;
    	font-size: 24px;
    	border-right: 1px solid #aaa;
    	text-shadow: 0px 1px 0px #ccc;
    }

    p.dismiss-course-session{
		width: 100%;
		height:29px;
	    color: #666;
	    float: left;
	    font-size: 20px;
	    background: rgba(255,200,200,1);
	    border-right: 1px solid #aaa;
    	border-top: 1px solid #aaa;
    	width: 149px;

	}

	p.dismiss-course-session:hover{
		cursor:pointer;
		background: rgba(255,50,50,1);
		color:#fff;
	}
}

.course-session-details{
	display: inline-block;
    width: 70%;
    float:left;
    vertical-align: top;

}

.course-summary-index{
	width:100%;
	border:1px solid #ccc;
	margin-bottom:20px;
	background: #fff;
	border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	
}

.course-summary-title{
	width:80%;
	display:inline-block;
	vertical-align: top;
	font-size: 36px;
	text-indent:5px;
	color: #666;
	height: 50px;
	line-height: 50px;
}

.course-summary-price{
	width: 19.3%;
    display: inline-block;
    background: rgba(10, 230, 60, 0.9);
    vertical-align: top;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 4px #666;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
}

.course-summary-description{
	width: 100%;
	display:inline-block;
	background: rgba(100,100,100,.7);
	vertical-align: top;
}

.course-summary-sessions{
	width: 100%;
	display:inline-block;
	background: rgba(255,100,100,.7);
	vertical-align: top;
}

.course-summary-instructor{
	width: 100%;
	display:inline-block;
	background: rgba(255,100,255,.7);
	vertical-align: top;
}




