// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-panel{
	width:100%;
	height:100%;
	background: #ccc;

	#main{
		background: #eee;
	}

}

.home-panel#main{
	
	background: #eee;
	background-image: image-url("student-background.jpg");
	background-image: image-url("hands-people-woman-meeting.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.home-panel-transparency{
	width:100%;
	height:100%;
}

.home-panel-transparency#main{
	background-color: rgba(36, 107, 204, 0.4);
	
}

.main-cta-container{
	max-width:1000px;
	width:auto;
	height:500px;
	padding:80px 30px;
	text-align:center;

	margin: 0 auto;

	h2{
		color:#fff;
		font-size: 60px;
		text-shadow: 0px 2px 0px #333;
	}

	h3{
		color:#fff;
		font-size: 50px;
		text-shadow: 0px 2px 0px #333;
	}
}

.signup-cta-container{
	margin: 0 auto;
    margin-top: 30px;
    max-width: 350px;
    width: 90%;
}

.signup-main-cta{
	padding:10px 15px;
	border-radius: 50px;
	display: block;
	width:auto;
	font-size: 28px;
	webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-weight:600;
	text-decoration:none;

}

.signup-main-cta#student{
	color: #fff;
    text-shadow: 0px 1px 2px #222;
    background-color: #FF9A13;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a13), to(#de8611));
    background-image: -webkit-linear-gradient(top, #ff9a13, #de8611);
    background-image: -moz-linear-gradient(top, #ff9a13, #de8611);
    background-image: -ms-linear-gradient(top, #ff9a13, #de8611);
    background-image: -o-linear-gradient(top, #ff9a13, #de8611);
    background-image: linear-gradient(top, #ff9a13, #de8611);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 3px 0px #fff;

}

.signup-main-cta#teacher{
	background: #333;
	color: #fff;
	border: 2px solid #333;
	text-shadow: 0px 1px 1px #333;
	box-shadow: inset 0px 1px 3px 0px #fff;

}

.signup-main-cta#student:hover, .signup-main-cta#teacher:hover {
	cursor:pointer;
	text-shadow:none;
	color: #ff9a13;
	background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -ms-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(top, #fff, #fff);

    webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.signup-main-cta#teacher:hover {
	border: 2px solid #fff;
}



.home-two-panel-container{
	max-width:1000px;
	width:auto;
	height:500px;
	padding:50px 30px;
	text-align:center;

	margin: 0 auto;
}

.home-two-panel-content{
	width:50%;
	min-height:300px;
	display: inline-block;
	width: 49.5%;
}

.non-enrolled-user-dashboard{
	height:100%;
	padding-bottom: 80px;
	background-color:#f6f6f6;
}



.welcome-user-dashboard{
    bottom: 0px;
    position: relative;
    left: 0px;
    right: 0px;
    padding:40px;
    border-top: 1px solid #D6D8DA !important;
	
}

.welcome-user-dashboard-inner{
	max-width: 700px;
    width: auto;
	margin:0 auto;
	text-align:center;



	h3{
		font-size: 50px;
    	font-weight: 400;
    	margin-bottom: 20px;
    	color: blue;
    	text-shadow: 0px 2px 3px #aaa;
	}

	p{
		font-size:20px;
		color: #555;
	}


}

div.teacher-dashboard-container{
	margin:0 auto;
	padding:50px;
	max-width:1000px;
	width:auto;

	.teacher-dashboard-menu{
		display:inline-block;
		width:298px;
		vertical-align: top;
		padding-right: 20px;

		.teacher-dashboard-menu-content{
			width:auto;
			background:#fff;
			border: 1px solid #ddd;

			.teacher-menu-header{

				h3{
					border-bottom: 1px solid #ddd;
	    			color: #555;
	    			padding: 15px 20px;
	    			font-size: 24px;
				}

			}

			ul{

				list-style-type: none;
	    		margin: 0;
	    		padding: 0;


				li{

					display: inline-block !important;
	    			width: 100% !important;
	    			word-wrap: break-word !important;
	    			text-align: justify;
	    			padding:10px 0px;

	    			a{
	    				padding:0px 20px;
	    				color: #333;
	    				font-size: 20px;
	    			}

				}

				li:hover{

					background:rgba(44,255,37,0.4);
					cursor:pointer;

				}
			}

		}


	}

	.teacher-dashboard-classes{
		display:inline-block;
		width:670px;
		vertical-align: top;


		.teacher-dashboard-class-content{
			width:auto;
			padding: 0 10px;
			border: 3px dashed #ddd;
		}
	}


}

div.empty-dashboard-container{
	padding:100px 0px;
	margin:0 auto;	
}

p.teacher-dashboard-add-class-cta{
	
	text-align:center;
	width:auto;
	background: #26DB20;
    color: #fff;
    margin: 25px 10px 0px 10px;
    border-radius: 40px;
    padding: 10px 0px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    font-size: 24px;
    text-shadow: 0px 1px 1px #444;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #26DB20;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#26DB20), to(#26DB20));
    background-image: -webkit-linear-gradient(top, #26DB20, #26DB20);
    background-image: -moz-linear-gradient(top, #26DB20, #26DB20);
    background-image: -ms-linear-gradient(top, #26DB20, #26DB20);
    background-image: -o-linear-gradient(top, #26DB20, #26DB20);
    background-image: linear-gradient(top, #26DB20, #26DB20);
    box-shadow: inset 0px 1px 3px 0px #fff;

    .empty{
    	margin-top:0px;
    }
}

p.teacher-dashboard-add-class-cta.empty{
	
    margin: 0 auto;
    width:50%;
}

p.teacher-dashboard-add-class-cta:hover{
	
	cursor:pointer;
	border: 2px solid #26DB20;
	background: #1CA318;
	box-shadow: inset 0px 0px 2px 0px #fff;
}

.empty-dashboard-container{
	padding:0px 20px;
}

a.no-style{
	text-decoration:none;
}


.dashboard-upcoming-classes{
	background:#fff;
	padding:50px;
}

.dashboard-upcoming-classes-inner{
	max-width:1000px;
	width:auto;
	margin:0 auto;

	h3{
		width:100%;
		font-size:30px;
		color: #666;
		border-bottom: 2px solid #999;
		font-weight: 400;
	}

	span.panel-header-see-all{
		float:right;
		font-size:20px;
		line-height: 42px;
		color: blue;
		font-weight:500;
	}


}

.dashboard-panel-horizontal-container{
	margin-bottom:40px;
}


ul.dashboard-panel-horizontal-list{

	list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
	
}

li.dashboard-panel-horizontal-item{

	display: inline-block !important;
    margin-bottom: 26px !important;
    width: 100% !important;
    word-wrap: break-word !important;
    text-align: justify;
	
}

a.dismiss-cover-page{
    border: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 40px;
    top: -40px;
    font-size:40px;
    font-weight:700;
    color:#666;
    margin-top:30px;
    text-shadow: 0px 2px 1px #ccc;
}

a.dismiss-cover-page:hover{
    cursor:pointer;
    text-decoration:none;
    color:red;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

