// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.header-for-sidebar{
  
    background: linear-gradient(#1e1e9a, #1e1e5a);



    text-align: center;
    border-bottom: 1px solid #1e1e5a;
    box-shadow: 0px 2px 4px #aaa;
    
    border: 2px solid rgba(0, 0, 80, 0.9);

  span.header-app-name-container{
    display: block;
    padding: 5px 0px;
    box-shadow: inset 0px 3px 6px -3px #fff;
  }

  p.app-name{
    margin: 0px;
    display: inline;
    font-weight: 400;
    font-size: 41px;
    color: white;
    opacity: 1;
    text-shadow: 0px 2px 1px rgba(255,100,200,1);
    letter-spacing: 3px;
  }

}


p.menu-button{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000003;
    color: #fff;
    padding: 17px 60px 17px 30px;
    font-size: 22px;
    border: 2px solid rgba(0, 0, 30, 0.9);
    text-shadow: 0px 2px #00001e;
    box-shadow: inset 0px 3px 6px -3px #fff;
    background: #222;

}

p.menu-button:hover{
  cursor:pointer;
  background:#666;
  text-shadow: 0px 2px #333;
  border: 2px solid #555;
}


p.menu-button::before {
  display: block;
  content: '';
  position: absolute;
  height: 12px;
  width: 22px;
  border-top: 2px solid #fff;
  right: 25px;
  top: 40px;
}

p.menu-button::after{
  display: block;
  content: '';
  position: absolute;
  height: 5px;
  width: 22px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  right: 25px;
  top: 26px;
}

.sidebar-fixed-container{
  position:fixed;
  top: 0px;
  bottom:0px;
  left:0px;
  right: 0px;
  background: rgba(50,50,100,0.8);
  z-index: 1000000;


}

.sidebar-fixed-container.default-off{
    display: none;
  }


.sidebar-fixed-content{
  width:300px;
  height: 100%;
  background: #B4B4FF;
  z-index: 1000001;
  display: inline-block;
  color: #1e1e9a;
  border-right: 2px solid rgba(0, 0, 80, 0.9);

  p{
    width:100%;
    padding: 15px 0px;
    color: #fff;
    background: #222;
    text-indent: 10px;
    font-size: 30px;
    text-shadow: 0px 2px #111;
  }

  ul{

    list-style-type: none;
    margin: 0;
    padding: 0;

  li{

    display: inline-block !important;
      width: 100% !important;
      word-wrap: break-word !important;
      text-align: justify;
      padding:0px;
      border-bottom: 1px solid rgba(0, 0, 80, 0.9);
      
      a{
        text-indent: 15px;
        display: block;
        padding:10px 0px;
        font-size: 20px;
      }

      a:hover{
        cursor: pointer;
      }

    }


    li.sidebar-list-header{
      background: linear-gradient(#1e1e9a, #1e1e5a);
      text-shadow: 0px 2px 1px #222;

      box-shadow: inset 0px 3px 6px -3px #fff;
    
      border: 1px solid rgba(0, 0, 80, 0.9);
      color: #fff;


      a{
        font-weight: 600;
        color: #fff;
      }

      a:hover{
        text-shadow: none;
      }
    }


  li.sidebar-list-entry{
      
      a{
        text-indent: 20px;

      }

      a:hover{
        color: blue;
        background: #fff;
      }

    }


  }
  
}

.dismiss-sidebar{
    border: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 270px;
    font-size:30px;
    font-weight:400;
    color:#fff;
    text-shadow: 1px 1px 1px #333;
}

.dismiss-sidebar:hover{
    cursor: pointer;
}

.no-scroll{
  overflow:hidden;
}