// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-background-container{
	min-width:100%;
	min-height:100%;
	height:100%;
	width:100%;
	background: rgba(77, 217, 144, 0.9);
	padding: 50px;
}

.signup-form{
	max-width:350px;
	width:100%;
	margin: 0 auto;
	background: #fff;
	padding:20px;
	text-align:center;
}