// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-background-container{
    background-image: image-url("swirl_pattern.png");
    background-image: image-url("old_moon.png");
    background-image: image-url("felt.png");
    background-image: image-url("squared_metal.png");
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0px;
}

.signup-background-transparency{
	
	background: rgba(36, 107, 204, 0.4);
	position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0px;

}

.signup-form{
	max-width:350px;
	width:100%;
	margin: 50px auto;
	text-align:center;
	padding: 0px 20px;

	h2{
		color:#fff;
		font-size: 70px;
		font-weight:400;
		text-shadow: 0px 3px 5px #333;
	}
}

input.signup-form-input{	
	width:100%;
	border: none;
    margin-top: 20px;
    padding: 10px 0px;
    text-indent:5px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 2px 5px #666;
	border: #fff solid 3px;
}

input.signup-form-input:focus{	
    border: #D44924 solid 3px;
    box-shadow: 0px 2px 8px #ddd;
	
}

::-webkit-input-placeholder {
   color: #666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666;  
}

:-ms-input-placeholder {  
   color: #666;  
}

input.signup-form-submit{	
	background: #D44924;
    color: #fff;
    margin-top: 25px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 10px;
    font-size: 18px;
    text-shadow: 0px 1px 1px #444;
    webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #D44924;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D44924), to(#D44924));
    background-image: -webkit-linear-gradient(top, #D44B3B, #D44924);
    background-image: -moz-linear-gradient(top, #D44B3B, #D44924);
    background-image: -ms-linear-gradient(top, #D44924, #D44924);
    background-image: -o-linear-gradient(top, #D44924, #D44924);
    background-image: linear-gradient(top, #D44924, #D44924);
    box-shadow: inset 0px 1px 3px 0px #fff;
	
}

input.signup-form-submit:hover{	
	cursor:pointer;
	
}

.user-profile-header-containter{
	background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #666;
    min-height: 16px;
    padding: 0;
    position: relative;
    width: auto;
}

.user-profile-header-content{
	width:100%;
	max-width:1000px;
	margin:0 auto;
	padding: 5px 0px;
	
}

.user-location-container{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:1000000;
    background-image: image-url("squared_metal.png");
}

.user-location-transparency{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
    background: rgba(36, 107, 204, 0.4);
}

.user-location-form{
    margin: 0 auto;
    padding:150px 0px;
    max-width:800px;
    width: auto;
    text-align:center;
    
    h3{
        font-size:80px;
        color:#333;
        text-shadow: 0px 1px 3px #fff;
    }

    p.location-city-option{
        padding: 5px 0px;
        width: 100%;
        margin: 30px 0px;
        font-size: 40px;
        box-shadow: inset 0px 1px 3px 0px #fff;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: white;
        border-bottom: 1px solid #246BCC;
        border: 1px solid rgba(0, 0, 0, 0.15);
        text-shadow: 0px 1px 0px #16437F;
        
    }

    p.location-city-option:hover{
        cursor:pointer;
        color: rgba(36, 107, 204, 1);
        background-color: #fff;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
        background-image: -webkit-linear-gradient(top, #fff, #fff);
        background-image: -moz-linear-gradient(top, #fff, #fff);
        background-image: -ms-linear-gradient(top, #fff, #fff);
        background-image: -o-linear-gradient(top, #fff, #fff);
        background-image: linear-gradient(top, #fff, #fff);
        box-shadow: inset 0px 1px 3px 0px #fff;
        border: 1px solid rgba(36, 107, 204, 1);
    }
}

select.user-location-select:focus{
        outline:none;
        
    }

div.p-transparency{
    background: rgba(255,50,50,1);
    border-radius: 5px;
}

div.profile-sidebar{
    
    display: inline;
    height: 100%;
    position: absolute;

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width:300px;
        height:100%;
        background: rgba(0,0,0,.3);
    }

    li{
        display: inline-block !important;
        padding: 10px 0px !important;
        width: 100% !important;
        word-wrap: break-word !important;
        text-align: justify;

        background-color: rgba(255, 0, 0, 0.7);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
        height: 100px;
        min-height: 100px;
        text-align: center;

        a{
            padding:0px 10px;
            line-height:100px;
            color: #fff;
            font-size: 30px;
            text-shadow: 0px 1px 2px #333;
        }
    }

    li:hover{
        background: #333;
        cursor:pointer;
    }

    li#basics{
        background-color: rgba(0, 255, 0, 0.7);
    }

    li#payments{
        background-color: rgba(0, 0, 255, 0.7);
    }

    li#roles{
        background-color: rgba(200, 0, 255, 0.7);
    }

    li#cancel{
        background-color: rgba(255, 0, 0, 0.7);
    }

}

.predictor-image-menu-profile{
    width:100%;
}