<div class="add-profile-image-modal">

	<div class ="course-name-modal-content">

	    <h3>Add Profile Picture
	      <span class="dismiss-modal">
	        +
	      </span>
	    </h3>

	    <%# form_for(current_user) do |f| %>

	    <%# form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


	    <%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>

	    	<div class ="profile-image-modal-container">

	    		<%= image_tag current_user.image.url(:medium), class: "profile-image-modal"%>
	    	
	    	</div>

	    	<div class="profile-image-modal-input-container">

	    		<%= f.file_field :image, class: "form-control" %>

	    	</div>

	    	<%= f.submit "Save", class: "modal-submit" %>

	    	<p class="modal-submit" id="user-profile-image">Ajax Update</p>

	    <% end %>

	</div>

</div>