
<div class="user-location-container">

	<div class="user-location-transparency">

		<a class="dismiss-cover-page">
			+
		</a>

		<div class="user-location-form">

			<h3>Select Your City</h3>

			<div class="p-transparency"><p class="location-city-option" id="1">New York</p></div>

			<div class="p-transparency"><p class="location-city-option" id="2">San Francisco</p></div>

			<div class="p-transparency"><p class="location-city-option" id="0">Other</p></div>

		</div>

	</div>
</div>

